<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.arpadfodor.android.chain_reaction">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/defaultScreenTheme"
            android:supportsRtl="true"
            android:noHistory="true"
            android:largeHeap="true">

        <activity
                android:name="com.arpadfodor.android.chain_reaction.view.GameActivity"
                android:theme="@style/defaultScreenTheme"
                android:configChanges="orientation|screenSize"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name="com.arpadfodor.android.chain_reaction.view.SettingsActivity"
                android:theme="@style/defaultScreenTheme"
                android:label="@string/title_settings">
        </activity>

        <activity
                android:name="com.arpadfodor.android.chain_reaction.view.MoreActivity"
                android:theme="@style/defaultScreenTheme"
                android:label="@string/title_more"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.arpadfodor.android.chain_reaction.view.StatisticsActivity"
                android:theme="@style/defaultScreenTheme"
                android:label="@string/title_activity_stats"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.arpadfodor.android.chain_reaction.view.StartCustomActivity"
                android:theme="@style/defaultScreenTheme"
                android:label="@string/title_custom_game"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.arpadfodor.android.chain_reaction.view.StartChallengeActivity"
                android:theme="@style/defaultScreenTheme"
                android:label="@string/title_challenge"
                android:screenOrientation="portrait"/>

        <activity
                android:name="com.arpadfodor.android.chain_reaction.view.TypeActivity"
                android:theme="@style/defaultScreenTheme"
                android:label="@string/title_activity_type"
                android:screenOrientation="portrait"/>

        <activity android:name="com.arpadfodor.android.chain_reaction.view.MainActivity"
                  android:theme="@style/startScreenTheme"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-3940256099942544~3347511713"/>

    </application>

</manifest>